<%= stylesheet_link_tag 'user.css' %>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.js"></script>
 <% content_for :javascript_includes do %>
    <%= javascript_include_tag "validate" %>
    <% end %>


<div id="login">
        <h3 class="text-center text-white pt-5" style="color: black;">Login form</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                            <h3 class="text-center " style="color: black;">Login</h3>
                            <div class="form-group">
                                <label for="username" style="color: black;">Email:</label><br>
                                <input autofocus="autofocus" autocomplete="email" type="email" value="" name="user[email]" id="user_email" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="password" style="color: black;">Password:</label><br>
                                <input autocomplete="current-password" type="password" name="user[password]" id="user_password" class="form-control"  minlength="2" required>
                            </div>
                            <div class="form-group">
                                <label for="remember-me" ><span style="color: black;">Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="Login" style="background-color: black">
                            </div>
                            <div id="register-link" class="text-right">
                                <a href="/users/sign_up" style="color: black;">Register here</a>
                                <br>
                                <a href="/users/password/new"  style="color: black;">Forget password?</a>
                            </div>
                        <% end %>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
